@import "../../scss/main.scss";

.header-wrapper {
  background-color: $clr-very-dark;
}

.header {
  position: relative;
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title {
    color: $clr-white;
    font-family: $ff-main;
    font-size: 4.125rem;
    font-weight: 800;
    max-width: 600px;
    line-height: 1.2;
    z-index: 99;
    padding: 2rem 0;
    text-shadow: 10px 10px 50px rgba(31, 40, 46, 1);
  }

  &__cta {
    background-color: transparent;
    border: 2px solid $clr-accent;
    border-radius: 12px;
    padding: 16px 36px;
    z-index: 99;
    color: $clr-accent;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    max-width: 200px;
    transition: ease 0.6s;

    &:hover {
      color: $clr-very-dark;
      background-color: $clr-accent;
      border-radius: 0;
    }
  }
}

.characters {
  position: absolute;
  bottom: 0;
  right: 10%;
  z-index: 99;
}

.morty {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: -10%;
  height: 50vmin;
  filter: drop-shadow(-10px 0px 20px #1f282e);
}

.rick {
  position: relative;
  z-index: 1;
  bottom: -10px;
  right: 0;
  height: 80vmin;
  filter: drop-shadow(-10px 0px 20px #1f282e);
}

// .morty {
//   position: absolute;
//   z-index: 2;
//   bottom: 0;
//   right: 26vw;
//   height: 50vmin;
//   filter: drop-shadow(-10px 0px 20px #1f282e);
// }

// .rick {
//   position: absolute;
//   z-index: 1;
//   bottom: 0;
//   right: 5vw;
//   height: 80vmin;
//   filter: drop-shadow(-10px 0px 20px #1f282e);
// }
